.container-fluid{
    display: flex;
    flex-wrap: wrap;
    min-height: 80%;
    justify-content: center;
    max-width: 1100px;
    padding-right:100px;
    padding-left:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
  }